.image {
    position: relative;
    position: relative;
    overflow: hidden;
    object-fit: cover;
    object-position: center;
}

img {
    max-width: 100%;
}

.icon {
    font-size: 30px;
    position: absolute;
    top: 85%;
    right: 10px;
    color: white;
    cursor: pointer;
    transition: 0.4s transform;
    -webkit-transition: 0.4s transform;
    -moz-transition: 0.4s transform;
    -ms-transition: 0.4s transform;
    -o-transition: 0.4s transform;
}

.icon:hover {
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
}

.Likedicon {
    color: red;
}