form {
    min-height: 50vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 40px;
    text-align: left;
}

label {
    display: inline-block;
    margin-bottom: 10px;
}

:where(input, textarea) {
    width: 300px;
    outline: none;
    font-size: 14px;
}

input {
    height: 35px;
}

textarea {
    resize: none;
    height: 100px;
}

.btn {
    font-size: 20px;
    cursor: pointer;
    align-self: flex-end;
    outline: none;
    padding: 10px 30px;
    margin-right: 5rem;
}