.text {
    font-weight: 500;
    font-size: 30px;
}

.special__heading {
    width: 100%;
    position: relative;
}

.special__heading::before,
.special__heading::after {
    content: "";
    background-color: black;
    height: 1px;
    width: 43%;
    position: absolute;
    top: 80%;
}

.special__heading::after {
    right: 0;
}

.special__heading::before {
    left: 0;
}

.margin {
    margin-top: 100px;
}