header {
    background-color: white;
}

.flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 30px;
}

.title {
    font-weight: 400;
    margin: 0;
}

.btn {
    border: none;
    outline: none;
    cursor: pointer;
    padding: 5px 40px;
    font-size: 20px;
    font-weight: 500;
    background-color: #cde6fa;
    transition: 0.4s;
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    -ms-transition: 0.4s;
    -o-transition: 0.4s;
}

.btn:hover {
    background-color: #a1b4c3;
}