.text {
    font-weight: 500;
    font-size: 30px;
}

.special__heading {
    width: 100%;
    position: relative;
}

.special__heading::before,
.special__heading::after {
    content: "";
    background-color: black;
    height: 1px;
    width: calc(50% - 250px);
    position: absolute;
    top: 80%;
}

.special__heading::after {
    right: 140px;
}

.special__heading::before {
    left: 140px;
}