section {
    width: 80%;
    margin: 0 auto;
}

.content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

@media(max-width: 2000px) {
    .content {
        gap: 40px;
    }
}